@use "../../assets/styles/index.scss" as *;

.container {
  display: flex;
  line-height: 1.5em;
  vertical-align: middle;
  flex-shrink: 0;

  input {
    max-width: 0px;
    max-height: 0px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  > span:first-child {
    flex-shrink: 0;
  }
}
