@import "../../assets/styles/index.scss";

.inputContainer {
  position: relative;
  display: flex;
  font-size: 22px;
  line-height: 33px;
  .icon {
    position: absolute;
    top: 1.5px;
    right: 1.5px;
    min-height: 30px;
    min-width: 30px;
    cursor: pointer;
    user-select: none;
    &img {
      height: 30px;
      width: 30px;
    }
  }
  &.withIcon {
    padding-right: 33px;
  }
  input,
  textarea {
    border: none;
    background-color: transparent;
    width: 100%;
    font-size: inherit;
    line-height: inherit;
    font-family: $mainFontFamily;
    color: var(--input-text-color, $spaceBlue);
    margin-bottom: 18px;
    outline: none;
    &:placeholder-shown ~ .border {
      animation-iteration-count: infinite;
      animation-duration: $verySlow;
      animation-name: pulse;
      animation-delay: $slow;
    }
  }
  & .border {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 18px;
    height: 1px;
    background-color: $spaceBlue;
    opacity: 0;
  }
  .caption {
    position: absolute;
    bottom: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}
