@use "../../assets/styles/index.scss" as *;

.inputContainer {
  position: relative;
  display: flex;
  font-size: 22px;
  line-height: 33px;
  .icon {
    position: absolute;
    top: 50%;
    right: 1.5px;
    min-height: 30px;
    min-width: 30px;
    cursor: pointer;
    user-select: none;
    margin: -7.5px 0px;
    &img {
      height: 30px;
      width: 30px;
    }
  }
  &.withIcon {
    padding-right: 33px;
  }
  input,
  textarea {
    background-color: transparent;
    width: 100%;
    outline: none;
  }
}
