**/__snapshot__/*
**/*.test.tsx
**/*.md
**/*.stories.tsx
**/*.test.ts
**/*.test.js

**/__test__/*
src/**/*
!src/types.ts
**/*.log
webpack.config.ts
snapshots.js
jest.config.js
firebase.json
**/__mocks__/*

**/*.stories.*
**/*.test.*

cypress/**/*
!cypress/support/**/*
coverage/**/*
.eslintrc.js
.firebaserc
.nyc_output
.storybook
cypress.config.ts
scripts/*