**/__snapshot__/*
**/*.test.tsx
**/*.md
!**/*.ai.md
**/*.stories.tsx
**/*.test.ts
**/*.test.js

**/__test__/*
src/**/*.test.tsx
**/*.log
webpack.config.ts
snapshots.js
jest.config.js
firebase.json
**/__mocks__/*

**/*.stories.*
**/*.test.*

cypress/**/*
!cypress/support/**/*
coverage/**/*
.eslintrc.js
.firebaserc
.nyc_output
.storybook
cypress.config.ts
scripts/*
storybook-static/
.firebase/
cypress/**/*
.preprocess.*

src/**/*
build/
WebpackConfigs/__fixtures__