.unselectable * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clone {
  transition: top 250ms left 250ms;
  pointer-events: none;
  position: fixed;
}

.ordering {
  > * {
    opacity: 0;
  }
  .visible {
    opacity: 1;
    * {
      pointer-events: none;
    }
  }
}

.shrinkable.ordering section.visible {
  max-height: var(--shrink-to) !important;
}

.root {
  transition: padding-top 250ms linear;
  > * {
    transition: max-height 250ms linear;
    overflow: hidden;
  }

  &::before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: " ";
  }
}

.transition {
  width: 100%;
  align-items: flex-start !important;
  > * {
    flex-direction: row !important;
    flex-wrap: wrap;
    &:first-child {
      visibility: hidden;
    }
    &:last-child {
      visibility: visible;
    }
  }
}
