$baseSpeed: 300ms;
$fast: var(--orderable-list--speed);

.unselectable * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clone {
  --orderable-list--speed: #{$baseSpeed};
  transition: max-height $fast linear;
  pointer-events: none;
  position: fixed;
  overflow: hidden;
}

.ordering {
  > * {
    opacity: 0;
  }
  .visible {
    opacity: 1;
    * {
      pointer-events: none;
    }
  }
}

.shrinkable.ordering section.visible,
.shrinkable.ordering section.currentOrdering {
  max-height: var(--shrink-to) !important;
}
.shrinkable.ordering > section:not(.visible):not(.currentOrdering) > * {
  max-height: var(--shrink-to) !important;
}
.transitionHeight {
  transition: max-height $fast linear;
}

.root {
  position: relative;
  --orderable-list--speed: #{$baseSpeed};
  transition: padding-top $fast linear;
  > * {
    transition: max-height $fast linear;
    overflow: hidden;
    > * > * {
      flex-shrink: 0;
    }
  }

  &::before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: " ";
  }
}

.transition {
  width: 100%;
  align-items: flex-start !important;
  > * {
    flex-direction: row !important;
    flex-wrap: wrap;
    &:first-child {
      visibility: hidden;
    }
    &:last-child {
      visibility: visible;
    }
  }
}
