@import "../../assets/styles/index.scss";

.container {
  font-family: Manrope;
  transition: max-height $slow;
  overflow: hidden;
  max-height: 0px;
  * {
    text-align: left;
  }
  button {
    text-align: center;
  }
  h1 {
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
    color: $spaceBlue !important;
  }
  p {
    font-family: Roboto;
    font-size: 22px;
    line-height: 33px;
  }
}

.hidden {
  max-height: 0px !important;
}

.loading * {
  color: $spaceBlue !important;
}

.disabled * {
  color: $mediumGray !important;
}
