@use "../../assets/styles/index.scss" as *;

.container {
  overflow-x: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  > div {
    cursor: pointer;
    &.selected {
      font-weight: bold;
    }
  }
  &.FULL {
    overflow: visible;
    > div {
      transition: color 250ms linear;
      padding: 0.4em 1em;
      z-index: 1;
      margin: 0px;

      &.selected {
        color: var(--tab-selected-color);
      }
    }
    .guide {
      box-shadow: $elevation;
      border-radius: 1em / 50%;
    }
  }
}

.guide {
  height: 0.1em;
  background-color: var(--tab-guide-color, $digitalBlue);
  position: absolute;
  &.enableTransition {
    transition: left $fast, width $fast, top $fast, height $fast;
  }
}
