@use "../../assets/styles/index.scss" as *;

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: backdrop-filter $veryFast linear;
  backdrop-filter: var(--adaptive-dialog-backdrop-backdrop, initial);
  pointer-events: none;

  @media screen and (orientation: "portrait") {
    align-items: flex-end;
  }
}
.backdrop,
.container {
  animation-duration: $fast;
  animation-fill-mode: forwards;
}

.open {
  &.backdrop {
    animation-name: backdropAppear;
  }
  .container {
    animation-name: reveal;
  }
  @media screen and (orientation: "portrait") {
    .container {
      animation-timing-function: ease-in-out;
      animation-name: slideUp;
      transform: translateY(100%);
    }
  }
}

.close {
  &.backdrop {
    animation-name: backdropDismiss;
  }

  .container {
    animation-name: dismiss;
  }

  @media screen and (orientation: "portrait") {
    .container {
      animation-name: slideDown;
    }
  }
}

.container {
  > .closeBtn {
    position: absolute;
    right: 16px;
    top: 16px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: var(--adaptive-dialog-close-btn-bg, #{$mainBackgroundColor});
    border: none;
    border-radius: 50%;
    box-shadow: var(
      --adaptive-dialog-close-btn-shadow,
      0px 2px 8px rgba(0, 0, 0, 0.15)
    );
    padding: 0px !important;
    @include iteractibleElement();
  }
  position: relative;
  max-width: 95vw;
  background: $mainBackgroundColor;
  backdrop-filter: var(--adaptive-dialog-backdrop, initial);
  border-radius: var(--adaptive-dialog-border-radius, 20px);
  box-shadow: var(--adaptive-dialog-box-shadow, $elevation);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-height: 90% !important;
  overscroll-behavior: contain;
  @media screen and (orientation: "portrait") {
    min-height: initial;
    align-items: flex-start;
    border-radius: var(--adaptive-dialog-border-radius, 20px)
      var(--adaptive-dialog-border-radius, 20px) 0 0;
  }
}

@keyframes backdropAppear {
  0% {
    background-color: #0000;
  }

  100% {
    background-color: #0005;
  }
}

@keyframes backdropDismiss {
  0% {
    background-color: #0005;
  }

  100% {
    background-color: #0000;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dismiss {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideUp {
  0% {
    min-height: 0px;
    transform: translateY(100%);
  }

  100% {
    min-height: 0px;
    transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0%);
  }

  100% {
    min-height: 0px;
    transform: translateY(100%);
  }
}
