.animatedContainer {
  position: relative;
  animation-name: pingpong;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.resetHeight {
  min-height: initial;
}

@keyframes pingpong {
  0% {
    left: 0%;
  }

  50% {
    left: calc(100% - 100px);
  }

  100% {
    left: 0%;
  }
}
.fadeOut {
  animation: fadeOutAnimation;
  animation-duration: 2s !important;
  animation-timing-function: linear;
  position: absolute;
}
.outOfTheWay {
  animation: fadeOutAnimation;
  animation-duration: 2s !important;
  animation-timing-function: linear;
  position: absolute;
}
.fadeIn {
  animation: fadeIn;
  animation-duration: 2s !important;
  animation-timing-function: linear;
}

@keyframes fadeIn {
  0% {
    background-color: green;
    opacity: 0;
  }

  100% {
    background-color: green;
    opacity: 1;
  }
}

@keyframes fadeOutAnimation {
  0% {
    background-color: red;
    opacity: 1;
  }

  100% {
    background-color: red;
    opacity: 0;
  }
}

.maskExample {
  height: 100vh;
  > * {
    height: 100%;
    justify-content: center;
    > * {
      display: flex;
      flex-direction: column;
      justify-content: center;
      --animation-speed-transition: 250ms;
    }
  }
  .coin {
    background-color: yellow;
    height: 100%;
  }
  .anchor {
    background-color: blue;
    height: 100%;
  }
}

.physicsExample {
  @extend .maskExample;
  --animation-speed-transition: 10s;
}

.maskDiagonal {
  @extend .maskExample;
  --animation-speed-transition: 1s;
}
