@import "../../assets/styles/index.scss";

.section {
  * {
    box-sizing: border-box;
  }
  position: relative;
  display: flex;
  align-items: center;
  > div {
    display: flex;
    flex-direction: column;
    min-height: inherit;
    min-width: 100%;
    animation-duration: var(--animation-speed-transition, $fast);
    animation-timing-function: var(--animation-timing-transition, initial);
    animation-fill-mode: forwards;
    transform-origin: inherit;
  }
}

div.entranceLeft {
  animation-name: entranceLeft;
}
div.exitLeft {
  animation-name: exitLeft;
}

@keyframes entranceLeft {
  0% {
    margin-left: -100%;
  }
  100% {
    margin-left: 0%;
  }
}
@keyframes exitLeft {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: -100%;
  }
}

div.fadeOut {
  animation-name: fadeOut;
  position: absolute;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

div.scaleIn {
  animation-fill-mode: forwards;
  animation-name: scaleIn;
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

div.scaleOut {
  animation-fill-mode: initial;
  animation-name: scaleOut;
}

@keyframes scaleOut {
  0% {
    position: absolute;
    transform: scale(1);
  }
  100% {
    position: absolute;
    transform: scale(0);
  }
}

div.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInDelayed {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOutDelayed {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}

.fadeInDelayed {
  animation-name: fadeInDelayed;
}

.fadeOutAbsolute {
  position: absolute;
  animation-name: fadeOutDelayed;
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }

  25% {
    transform: rotateX(36deg);
  }

  50% {
    transform: rotateX(90deg);
  }

  75% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(90deg);
  }
}
@keyframes flipIn {
  0% {
    transform: rotateX(0deg);
    opacity: 0;
  }

  25% {
    transform: rotateX(0deg);
  }

  50% {
    transform: rotateX(90deg);
    opacity: 0;
  }
  51% {
    opacity: 1;
  }

  75% {
    transform: rotateX(36deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}
.flipBottomUpOut {
  transform-origin: 50% 50% !important;
  position: absolute !important;
  animation-name: flip;
  animation-timing-function: linear !important;
}
.flipBottomUpIn {
  transform-origin: 50% 50% !important;
  animation-name: flipIn;
  animation-timing-function: linear !important;
}
