@use 'sass:math';
@import "../../assets/styles/variables.scss";

.root {
  box-sizing: border-box;
  $height: 1.4em;
  height: $height;
  width: 2em + 0.4em;
  padding: 0.1em;
  border-radius: math.div($height, 1);
  border: 0.1em solid $digitalBlue;
  background-color: white;
  transition: background-color $fast linear;
  cursor: pointer;

  input {
    max-width: 0px;
    max-height: 0px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  .toggler {
    height: 1em;
    width: 1em;
    background-color: $digitalBlue;
    border-radius: math.div(1em, 2);
    transition: transform $fast linear;
  }

  &.disabled {
    opacity: 0.4;
    cursor: initial;
  }
  &.on {
    background-color: $digitalBlue;
    .toggler {
      transform: translateX(1em);
      background-color: white;
    }
  }
}
