.container {
  width: 80vw;
  height: 1080px * 0.8;
  margin: 10vh 1080px * 0.1;
  border: 2px solid red;
  --digital-blue: #ff0000;
}

.relativeContainer {
  width: 95vw;
  height: 95vh;
  margin: 2.5vh 2.5vw;
}
