@import "../../assets/styles/index.scss";

$arrowDim: 1em;

/**
* Some notions to take into account
*/

.tooltipContainer {
  & > div {
    background-color: $tooltipBackgroudColor;
  }
  // It should not overflow the viewport (screen)
  max-width: 100vw;
  max-height: 100vh;
  min-width: fit-content;

  // It should be floating over some point into the viewport
  position: fixed;

  // The position will be calculated via the javascript and the context

  transition: top $almostInstant, left $almostInstant, opacity $normal;
  z-index: 1000;

  pointer-events: none;

  &.open {
    pointer-events: initial;
  }

  &::after,
  &::before {
    content: " ";
    width: 0px;
    height: 0px;
    border: $arrowDim solid $tooltipBackgroudColor;
    border-top-color: transparent;
    border-right-color: transparent;
    transform: translateY(-$arrowDim) rotate(-45deg);
    display: block;
    margin: auto;
    position: relative;
    left: var(--anchor-indicator-offset-left, 0px);
    z-index: -1;
  }

  &::before {
    display: none;
    transform: translateY($arrowDim) rotate(135deg);
  }
  &.anchoredTop {
    transform: translateY(4px);
  }
  &.anchoredBottom {
    transform: translateY(-4px);
    &::after {
      display: none;
    }
    &::before {
      display: block;
    }
  }
}
