@import "../../assets/styles/index.scss";

/**
* Some notions to take into account
*/

.tooltipContainer {
  & > div {
    background-color: $tooltipBackgroudColor;
  }
  // It should not overflow the viewport (screen)
  max-width: 100vw;
  max-height: 100vh;
  min-width: fit-content;

  // It should be floating over some point into the viewport
  position: fixed;

  // The position will be calculated via the javascript and the context

  transition: top $almostInstant;

  &::after,
  &::before {
    content: " ";
    width: 0px;
    height: 0px;
    border: 16px solid $tooltipBackgroudColor;
    border-top-color: transparent;
    border-right-color: transparent;
    transform: translateY(-16px) rotate(-45deg);
    display: block;
    margin: auto;
    position: relative;
    left: var(--anchor-indicator-offset-left, 0px);
  }

  &::before {
    display: none;
    transform: translateY(16px) rotate(135deg);
  }
  &.anchoredTop {
    transform: translateY(4px);
  }
  &.anchoredBottom {
    transform: translateY(-4px);
    &::after {
      display: none;
    }
    &::before {
      display: block;
    }
  }
}
