@import "../../assets/styles/index.scss";

.container {
  opacity: 0;
  transition: opacity $normal;
  &.active {
    opacity: 1;
  }
}

@keyframes fadeInInit {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
