@import "../../assets/styles/index.scss";

.items > * {
  cursor: pointer;
  background: $mainBackgroundColor;
  padding: 12px 32px;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
  margin-left: 4px;
  margin-right: 4px;
  text-align: left;
  border-radius: 4px;
  font-size: 14px;
  &.selected {
    background-color: $lightGray;
  }
}
.empty {
  opacity: 0.3;
}
.input {
  cursor: pointer;
  input {
    transition: opacity $fast;
    padding-right: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
  }
}
.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform $fast;
  min-height: inherit;
  transform: rotateX(0deg);
}
.open {
  transform: rotateX(180deg);
}
.optionsContainer {
  margin: 0px 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}
.searchInput {
  position: sticky;
  top: 0px;
  > * > span {
    margin-right: 12px;
    display: flex;
    align-items: center;
  }
  input {
    margin-bottom: 0px !important;
  }
}
