@import "../../assets/styles/index.scss";

> :last-child {
  position: absolute;
  right: 0px;
  z-index: 100;
}
.items > * {
  cursor: pointer;
  background: $mainBackgroundColor;
  padding: 12px 32px;
  margin-bottom: 8px;
  margin-left: 4px;
  margin-right: 4px;
  text-align: left;
  border-radius: 4px;
  font-size: 14px;
  &.selected {
    background-color: $lightGray;
  }
}
.empty {
  opacity: 0.3;
}
.input {
  transition: opacity $fast;
  cursor: pointer;
  padding-right: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform $fast;
  min-height: inherit;
  transform: rotateX(0deg);
}
.open {
  transform: rotateX(180deg);
}
.optionsContainer {
  margin: 0px 8px;
  margin-top: -18px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}
