@import "../../assets/styles/index.scss";

> :last-child {
  position: absolute;
  right: 0px;
  z-index: 100;
}
.items > * {
  cursor: pointer;
  background-color: white;
  padding: 12px 32px;
  margin-bottom: 8px;
  margin-left: 4px;
  margin-right: 4px;
  text-align: left;
  border-radius: 4px;
  font-size: 14px;
  &.selected {
    background-color: $lightGray;
  }
}
.empty {
  opacity: 0.3;
}
.input {
  transition: opacity $fast;
  cursor: pointer;
}
.indicator {
  transition: transform $fast;
  transform: rotateX(0deg);
}
.open {
  transform: rotateX(180deg);
}
.optionsContainer {
  margin-top: -18px;
}
