@import "../../assets/styles/index.scss";

.hidden {
  width: 0px;
  height: 0px;
  position: fixed;
  opacity: 0.01;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $fileInputBackgroundColor;
  padding: 72px;
  border: 1px solid;
  border-color: $fileInputBorderColor;
  position: relative;
  margin-bottom: 28px;
}

.footer {
  position: absolute;
  bottom: -24px;
  left: 0px;
}