@import "../../assets/styles/index.scss";

.container {
  > .title {
    cursor: pointer;
    margin: 0px;
    display: block;
  }
}

.open .title::after {
  transform: translateX(-0.5em) rotateX(180deg) rotateZ(45deg);
}
.closed .title::after {
  transform: translateX(-0.5em) rotateX(0deg) rotateZ(45deg);
}

.content {
  width: 100%;
  max-width: 500px;
  overflow: hidden;
  transition: height $fast ease-in;
  height: 0px;
  &.float {
    width: initial;
    max-width: initial;
    position: fixed;
    z-index: 100;
    background: $mainBackgroundColor;
    overflow: auto;
  }
  &.transitionMarginTop {
    transition: height $fast ease-in, margin-top $fast ease-in;
  }
}

.open {
  transition: height $fast ease-out;
}
