@import "../../assets/styles/index.scss";

.container {
  .headingImg {
    width: 100%;
    margin: 0px -33px;
  }
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  button {
    width: 100%;
    border-top: 1px solid $lightGray;
  }
  .transition {
    margin-top: -105px;
    height: 100%;
    .content {
      padding: 0px 33px 33px 33px;
      margin-top: 105px;
      max-height: calc(100% - 105px);

      &.fullHeight {
        margin-top: 0px;
        max-height: 100%;
        height: 100%;
      }
    }
    section {
      border-top: 1px solid $lightGray;
      margin: 0px -33px;
      padding: 0px 33px;
    }
  }
  header {
    margin: 55px 33px;
    margin-bottom: 33px;
  }
  footer {
    transition: opacity 250ms;
    opacity: 1;
  }
  footer.hidden {
    opacity: 0;
  }
}
