@import "../../assets/styles";

.root {
  background: linear-gradient(10deg, #0000 10%, #0006, #0000 80%);
  background-size: var(--biggest-unit) var(--biggest-unit);
  animation-name: moving;
  animation-duration: $slow;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-radius: 0.4em;
}

@keyframes moving {
  0% {
    background-position: 0em 0em;
  }
  100% {
    background-position: 0em var(--biggest-unit);
  }
}
