.resetSection {
  min-height: 0px;
  transition: width var(--adaptive-container-transition-time, 400ms), height var(--adaptive-container-transition-time, 400ms);
  transition-timing-function: linear;
  overflow: hidden;
  &.h {
    > * {
      min-width: auto !important;
    }
  }
}

@keyframes fadeInDelayed {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOutDelayed {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}

.fadeInDelayed {
  animation-name: fadeInDelayed;
  animation-duration: 500ms !important;
}

.fadeOutAbsolute {
  position: absolute;
  animation-name: fadeOutDelayed;
  animation-duration: 500ms !important;
}
