@import "../../assets/styles/index.scss";

.scrollBarRoot {
  &,
  &.propagate * {
    &::-webkit-scrollbar {
      background-color: transparent;
      height: 8px;
      width: 8px;
      z-index: 1000;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-color, $primaryColor);
      width: 8px;
      height: 8px;
      border-radius: 4px;
    }
  }
}
