.applySpacings {
  padding-left: var(--overflow-padding, var(--default-padding));
  padding-right: var(--overflow-padding, var(--default-padding));
  margin-left: var(--overflow-margin, var(--default-margin));
  margin-right: var(--overflow-margin, var(--default-margin));
}
