@import "../../assets/styles/index.scss";

.header {
  position: sticky;
  top: 0px;
  width: 100%;
  background-color: $headerFillBackgroundColor;
  display: flex;
  padding: 32px;
  align-items: center;
  font-family: $mainFontFamily;
  z-index: 100;
}

.sectionDivider {
  margin-left: auto;
}

.logo {
  align-self: stretch;
  display: flex;
  align-items: center;

  @media (orientation: portrait) {
    display: none;
  }
}

.option {
  font-size: 18px;
  line-height: 22px;
  margin-right: 28px;
  color: $headerTextColor;
}

.logoDivider {
  margin: -32px 32px;
  width: 1px;
  background-color: $headerBackgroundColor;
}

.profile {
  background-color: $headerBrightColor;
  height: 36px;
  width: 36px;
  border-radius: 18px;
  line-height: 36px;
  text-align: center;
}

.profile,
.profileName {
  margin-right: 8px;
}

.profileName {
  color: $headerBrightColor;

  @media (orientation: portrait) {
    display: none;
  }
}
.headerOptions {
  right: 0px;
  width: fit-content;
  margin-top: 18px;
  z-index: 1000;
  > * {
    cursor: pointer;
    background: $mainBackgroundColor;
    backdrop-filter: var(--header-submenu-backdrop, initial);
    padding: 12px 32px;
    margin-bottom: 8px;
    margin-left: 4px;
    margin-right: 4px;
    text-align: left;
    border-radius: 4px;
    font-size: 14px;
  }
}
.indicator {
  @include iteractibleElement();
  transition: transform $fast;
  transform: rotateX(0deg);

  &.open {
    transform: rotateX(180deg);
  }

  display: none;
  @media screen and (max-width: 640px) {
    display: initial;
  }
  &.withMoreOptions {
    display: initial;
  }
}

.desktopOnly {
  @media screen and (max-width: 640px) {
    display: none;
  }
}

.mobileOnly {
  @media screen and (min-width: 640px) {
    display: none;
  }
}