.inputContainer {
  &.creation {
    padding-bottom: 54px;
  }
  position: relative;

  .rules {
    position: absolute;
    bottom: 0px;
  }

  &.icon > :first-child > :last-child {
    top: initial;
    align-self: center;
    margin-top: -18px;
  }
}