@import "../../assets/styles/index.scss";

.container {
  display: flex;
  line-height: 1.5em;
  vertical-align: middle;
  input {
    max-width: 0px;
    max-height: 0px;
  }

  > span:first-child {
    visibility: visible;
    width: 1.5em;
    height: 1.5em;
    border-radius: 0.45em;
    background-image: url("../../assets/img/svg/checkbox.svg");
    background-color: transparent;
    transition: background-color 250ms, border 250ms, box-shadow 250ms;
    border: 1px solid rgb(40, 43, 53);
    box-shadow: 0px 0px 0px -4px $digitalBlue;
    flex-shrink: 0;

    &.wContent {
      margin-right: 0.45em;
    }
  }
  > span:first-child.checked {
    background-color: $digitalBlue;
    border: 1px solid $digitalBlue;
    box-shadow: 0px 0px 12px -4px $digitalBlue;
  }
}
