@use "sass:math";
@import "../../assets/styles/index.scss";

.container {
  margin: 0.375em;
  height: 0.25em;
  background-color: red;
  position: relative;
  border-radius: math.div(0.25em, 2);
  background: var(--progress-bar-bg, #0000);
  > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: green;
    height: inherit;
    border-top-left-radius: math.div(0.25em, 2);
    border-bottom-left-radius: math.div(0.25em, 2);
    background: var(--progress-bar-bar, var(--digital-blue));
    transition: width var(--animation-speed-transition, $fast) ease-out;
  }
  > :last-child {
    position: absolute;
    margin-top: math.div(-0.5em, 1.25);
    margin-left: -0.5em;
    height: 1em;
    width: 1em;
    border-radius: 0.5em;
    transition: left var(--animation-speed-transition, $fast) ease-out;
    background: var(--progress-bar-guide, var(--digital-blue));
  }
}
