$digitalBlue: var(--digital-blue, #558eff);
$mediumGray: var(--medium-gray, #bababa);
$lightGray: var(--light-gray, #d6d6d6);
$spaceBlue: var(--space-blue, #0f113a);
$warningRed: var(--warning-red, #e84b4b);
$sunsetPink: var(--sunset-pink, #ff3e7d);
$darkestGray: var(--darkest-gray, #727272);
$gray: var(--gray, #0f113a);
$success: var(--success, lightgreen);

//FONTS
$mainFontFamily: var(--main-font, Roboto);
$secondaryFontFamily: var(--second-font, Manrope);

// Component specific variables on the format --<component>-<element>-<category>
$headerBackgroundColor: var(--header-divider-bg-color, #467EEA);
$headerTextColor: var(--header-text-color, #94B8FF);
$headerBrightColor: var(--header-bright-color, white);