$digitalBlue: var(--digital-blue, #558eff);
$mediumGray: var(--medium-gray, #bababa);
$lightGray: var(--light-gray, #d6d6d6);
$spaceBlue: var(--space-blue, #0f113a);
$warningRed: var(--warning-red, #e84b4b);
$sunsetPink: var(--sunset-pink, #ff3e7d);
$darkestGray: var(--darkest-gray, #727272);
$gray: var(--gray, #0f113a);
$success: var(--success, lightgreen);
$mainBackgroundColor:  var(--bg-color, white);

//FONTS
$mainFontFamily: var(--main-font, Roboto);
$secondaryFontFamily: var(--second-font, Manrope);

// Component specific variables on the format --<component>-<element>-<category>
$headerFillBackgroundColor: var(--header-background-color, $digitalBlue);
$headerBackgroundColor: var(--header-divider-bg-color, #467eea);
$headerTextColor: var(--header-text-color, #94b8ff);
$headerBrightColor: var(--header-bright-color, white);

$tableRowBgColor: var(--table-row-bg-color, white);
$tableRowBorderColor: var(--table-row-border-color, #bec1ca);

$buttonMinHeight: var(--button-min-height, 62px);
$buttonMinWidth: var(--button-min-width, 150px);

// Animation speed variables
$veryFast: var(--animation--speed-veryfast, 125ms);
$fast: var(--animation--speed-fast, 250ms);
$normal: var(--animation--speed-normal, 500ms);
$slow: var(--animation--speed-slow, 1s);
$verySlow: var(--animation--speed-veryslow, 2s);

