.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  // TODO: Priorize reducing width of empty elements insteas of the main container
  > :nth-child(1),
  > :nth-child(3) {
    flex: 1;
    max-width: 250px;
    min-width: 150px;
  }

  .content {
    min-width: 250px;
  }

  > :nth-child(2) {
    flex: 1;
    max-width: 1200px;
  }
}

.section {
  align-items: flex-start;
  min-height: initial;
}